.tabBar_wrap {
  .tarbar {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 1.2rem;
    width: 100%;
    display: flex;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 12%), 0 1px 4px rgba(0, 0, 0, 25%);
    li {
      width: 25%;
      // line-height: 1.2rem;
      font-size: 0.24rem;
      text-align: center;
      img {
        width: 0.56rem;
        height: 0.56rem;
        margin: 0.08rem auto 0;
        display: block;
      }
      &.active {
        font-size: 0.28rem;
        color: #d51b1b;
      }
    }
    .red {
      color: #d51b1b;
    }
  }
}
